.form{
    font-family: "Helvetica Neue Cyr Thin";
}

.from-container form{
    /*padding:0px 40px 20px;*/
    margin:0px;

    text-align:center;
    color:white;
}
.from-container form a{
    color:white;
}
.from-container{
    padding:40px;
}
.form_bottom{
      text-align: center !important;
}
.form_bottom a{
  
    color: white !important;
}
.from-container input, .from-container .tr-form-select{
    background-color:transparent;
    border:none !important;
    border-bottom:1px solid white !important;
    border-radius:0px;
    color:white;
}
.from-container{

    background-color:#64b8df;
    border-width: 0.5px;
    border-color: rgb(149, 149, 149);
    border-style: solid;
    border-radius: 6px;
}
.from-container p {
    color:white;
    font-size: 26px;
    line-height: 0.714;
    text-align: center;
}
p.title {
    font-size: 25px;

    color: rgb(94, 100, 100);
    margin-bottom:30px;
    text-align: center;

}

button {
    font-size: 22px !important;
    color: rgb(255, 255, 255);
    line-height: 0.909;
    text-align: center;
    font-weight: bold !important;
   letter-spacing: 2px !important;
    border-radius: 4px;
    background-color: #f27b30;
    width:100%;
    padding: 12px !important;
}
.links{
    color:#5e6464;
    padding-top:20px;
    text-align:center;
}
.links a {
    margin:0px 20px;
    color:#5e6464;
}
.form-group div.domain{
    margin:0px;
    padding:15px 0px 0px;
    text-align:left;
    color:white;
}
.tr-form-select{
    background-color: #64b8df !important;
    color: #b2dcef;
}
input[type="text"]::-webkit-input-placeholder { color: #b2dcef; }
input[type="text"]:-ms-input-placeholder { color: #b2dcef; }
input[type="text"]::-ms-input-placeholder { color: #b2dcef; }
input[type="text"]::placeholder { color: #b2dcef; } 
