.form{
    font-family: "Helvetica Neue Cyr Thin";
}

.form-container form{
    margin:0px;
    text-align:center;
    color:white;
}
.form-container form a{
    color:white;
}
.form-container{
    padding:55px 55px 35px;
}
.form_bottom{
    text-align: center !important;
    margin-top: 30px !important;
    margin-bottom: 0px !important; 
    font-size: 14px !important; 
}
.form_bottom hr{
    margin: 20px 0px 10px 0px;
}
.form_bottom a{ 
    color: white !important;
}
.form-container input, .form-container .tr-form-select{
    background-color:transparent;
    border:none !important;
    border-bottom:1px solid white !important;
    border-radius:0px;
    color:white;
}
.form-container{

    background-color:#64b8df;
    border-width: 0.5px;
    border-color: rgb(149, 149, 149);
    border-style: solid;
    border-radius: 6px;
}
.form-container p {
    color:white;
    font-size: 26px;
    line-height: 0.714;
    text-align: center;
}
 .form p.title {
    font-size: 25px;
    color: rgb(94, 100, 100);
    margin-bottom:30px;
    text-align: center;
}

.form-container button {
    font-size: 20px !important;
    color: rgb(255, 255, 255);
    line-height: 0.909;
    text-align: center;
    
    letter-spacing: 1px !important;
    border-radius: 4px;
    background-color: #f27b30;
    width:100%;
    padding: 16px !important;
}
.form-container .form-group{
    margin-bottom: 5px;
}
.links{
    color:#5e6464;
    padding-top:20px;
    text-align:center;
}
.links a {
    margin:0px 20px;
    color:#5e6464;
}

.form-group div.domain{
    margin:0px;
    padding:15px 0px 0px;
    margin-left: -5px;
    text-align:left;
    font-size: 18px;
    color:white;
}
.tr-form-select{
    background-color: #64b8df !important;
    color: #b2dcef;
}
input[type="text"]::-webkit-input-placeholder { color: #b2dcef; }
input[type="text"]:-ms-input-placeholder { color: #b2dcef; }
input[type="text"]::-ms-input-placeholder { color: #b2dcef; }
input[type="text"]::placeholder { color: #b2dcef; } 
